# Generated: {{now.UTC.Format "2006-01-02T15:04:05MST"}}
#      With: {{command_line}}
apiVersion: v1
kind: Pod
metadata:
  name: {{replace .Name " " "_" -1 | identifier | lower}}
  namespace: {{.App}}-{{.Deployment}}
  labels:
    app: &app_name {{.App}}
spec:
  containers: {{$p := .}}{{range $i, $c := .Containers}}
    - name: &name_{{$i}} {{.Name}}
      image: {{$p.Repo}}/{{$p.App}}-{{.Name}}
      ports:
        - name: *name_{{$i}}
          containerPort: {{inc $p.BasePort $i}}
          protocol: TCP{{end}}
